.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px 20px;
    height: 140px;
    align-items: center;
}

.logo {
    height: 210px;
    width: auto;
    margin-top: -30px;
}

.navtop {
    display: flex;
    align-items: center;
}

.links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 27px;
}

.links li {
    margin: 0;
}

.links a {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: red;
}

.user-actions {
    display: flex;
    gap: 40px;
    margin-right: 24px;
}

.action-button {
    display: flex;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    align-items: center;
    /*background-color: white;*/
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.accountButton:hover {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid white;
}

.cartButton:hover {
    background-color: #5A5A5A;
    color: white;
    border: 1px solid white;
}

.accountButton{
    background-color: #2E5A88;
    color: black;
    border-radius: 12px;
}

.accIcon{
    height: 22px;
    margin-right: 8px;
    margin-left: 8px;
}

.cartIcon{
    height: 22px;
    margin-right: 8px;
    margin-left: 8px;
}

.cartButton{
    background-color: #00a63f;
    border-radius: 15px;
    color: white;
}
