.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #001f3f;
    color: white;
    padding: 10px 20px;
    height: 140px;
    align-items: center;
}

.logo {
    height: 210px;
    width: auto;
    margin-top: -30px;
}

.top {
    display: flex;
    align-items: center;
    margin-left: 12%;
}

.links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 55px;
}

.links li {
    margin: 0;
}

.links a {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 26px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: red;
}

.user-actions {
    display: flex;
    gap: 10px;
    margin-right: 24px;
}

.action-button {
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 17px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: grey;
}
