* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customer_review_section {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 50px;
}

.customer_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.customer_content h1 {
  font-family: "Gentium Plus", serif;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 45px;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.review {
  width: calc(30% - 20px);
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.reviewer_picture {
  max-width: 100%;
  border-radius: 50%;
  padding-bottom: 20px;
}

.review h3 {
  font-family: "Gentium Plus", serif;
  margin: 10px 0;
  font-size: 28px;
}
.review p {
  font-family: "Jost", sans-serif;
  font-size: 23px;
}

.rating {
  color: #ffc107;
  font-size: 26px;
  margin-bottom: 10px;
}
