* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.preferred_content {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.preferred_content h1 {
  font-family: "Gentium Plus", serif;
  padding-top: 20px;
  font-size: 45px;
  margin-bottom: 20px;
}

.restaurant_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.restaurant {
  text-align: center;
  flex-basis: calc(33.33% - 20px);
  margin: 0 10px;
  padding: 50px;
}

.restaurant img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.restaurant p {
  font-family: "Gentium Plus", serif;
  margin-top: 10px;
  font-weight: bold;
  font-size: 28px;
  padding-top: 20px;
}
.view_more_button {
  background-color: #ff4444;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid transparent;
}
.view_more_button:hover {
  background-color: white;
  color: black;
  border-color: black;
}
