.container {
    /*max-width: 1390px;*/
    margin: 0 auto;
    padding: 3rem 2rem;
}

.headLine {
    font-size: 34px;
    font-family: "Jost", sans-serif;
    color: #3498db;
}

.userLine {
    font-size: 52px;
    font-family: "Jost", sans-serif;
    color: black;
}

.flav-flav{
    font-family: "Racing Sans One", serif;
    color: red;
}

.restaurant-name {
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: grey;
}

.subText {
    font-size: 22px;
    font-family: "Jost", sans-serif;
    font-weight: bold;
}

.add-to-cart-button{
    background-color: green;
    color: white;
}

.add-to-cart-button a{
    color: white;
    text-decoration: none;
}

.container .title {
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-family: "Jost", sans-serif;
}

.container .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap: 2rem;
}

.container .products-container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}

.container .products-container .product:hover {
    outline-offset: 0;
}

.container .products-container .product img {
    height: 12rem;
    width: auto;
    transition: transform 0.3s ease;
}

.container .products-container .product:hover img {
    transform: scale(1.12);
}

.container .products-container .product h3 {
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
    font-family: "Jost", sans-serif;
}

.container .products-container .product:hover h3 {
    color: #27ae60;
}

.container .products-container .product .price {
    font-size: 2rem;
    color: #444;
}

.products-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: auto;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
}

.products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
}

.products-preview .preview.active {
    display: inline-block;
}

.products-preview .preview img {
    height: 30rem;
}

.products-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 4rem;
}

.products-preview .preview .fa-times:hover {
    transform: rotate(90deg);
}

.product-description {
    font-family: "Jost", sans-serif;
}

.products-preview .preview h3 {
    color: #444;
    padding: .5rem 0;
    font-size: 2.5rem;
}

.description-button {
    color: white;
    background-color: grey;
    border-radius: 12px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    margin-right: 12px;
    padding: 10px;
    cursor: pointer;
}

.description-button:hover {
    color: white;
    background-color: black;
    border-radius: 12px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    padding: 10px;
}

.allergies {
    font-family: 'Koulen', cursive;
    color: red;
    font-size: 21px;
}

.products-preview .preview .stars {
    padding: 1rem 0;
    font-size: 1.7rem;
}

.products-preview .preview .stars i {
    color: #27ae60;
}

.products-preview .preview .stars span {
    color: #999;
}

.products-preview .preview p {
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #777;
}

.products-preview .preview .price {
    padding: 1rem 0;
    font-size: 2.5rem;
    color: #27ae60;
}

.products-preview .preview .buttons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.products-preview .preview .buttons a {
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #444;
    border: .1rem solid #444;
}

.add-to-cart-button {
    background-color: green;
    margin-top: 10px;
    border-radius: 12px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: navy;
    color: white;
}


/*.products-preview .preview .buttons a.cart:hover{*/
/*    background: #111;*/
/*}*/

.products-preview .preview .buttons a.buy:hover {
    background: #444;
    color: #fff;
}

.filter-h1 {
    font-family: "Jost", sans-serif;
    font-size: 24px;
}

.filter-box {
    position: absolute;
    top: 390px; /* Adjust the top position as needed */
    left: 2%; /* Set the left position */
    width: 180px;
    max-height: 60vh; /* Set a maximum height using viewport height units */
    overflow-y: auto; /* Add scrollbars if the content overflows */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1000; /* Set a high z-index to ensure it's on top */
}


.filter-box label {
    margin-bottom: 10px;
    font-size: 16px;
}

.filter-box input[type="radio"] {
    margin-right: 5px;
}

.container {
    margin-left: 200px;
}


@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

}.search-bar{
     width: 40%;
 }

@media (max-width: 768px) {

    .products-preview .preview img {
        height: 25rem;
    }

}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

}