

/* Styles for the AllRestaurants component */
.customer_info_admin {
    padding: 20px;
    margin-left: 250px;
    margin-right: 205px;
    margin-top: 190px;
    margin-bottom: 390px;
}

.admin_header h1 {
    text-align: center;
    margin-top: 12%;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    font-weight: bold;
}

.restaurant_info_admin table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.restaurant_info_admin th,
.restaurant_info_admin td {
    padding: 12px 15px;
    text-align: left;
}

.restaurant_info_admin th {
    background-color: #f5f5f5;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}


.restaurant_info_admin tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.restaurant_info_admin tbody tr:hover {
    background-color: #e0e0e0;
}

.restaurant_info_admin button {
    padding: 8px 16px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restaurant_info_admin button:hover {
    background-color: #c0392b;
}

/* Media query to make the table responsive */
@media screen and (max-width: 600px) {
    .restaurant_info_admin {
        margin-left: 0;
        padding: 10px;
    }

    .restaurant_info_admin th,
    .restaurant_info_admin td {
        padding: 10px 12px;
    }

    .restaurant_info_admin button {
        padding: 6px 12px;
    }
}

.u-table {
    width: 1000px;
    border-collapse: collapse;
    margin: 20px 0; /* Add margin to create space around the table */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-delete{
    font-family: "DM Sans", 'sans-serif';
    font-size: 15px;
    padding: 7px;
    background-color: #D32F2F;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-delete:hover{
    /*background-color: #3a3737;*/
    background-color: white;
    color: red;
}

.u-table th,
.u-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Add a border-bottom for better separation */
    font-family: "Jost",serif;
}

.u-table th {
    background-color: lightslategray;
    font-weight: bold;
    font-family: "Poppins",serif;
    font-size: 16px;
    color:white;
}

.u-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.c-title{
    font-size: 52px;
    font-family: "Jost", sans-serif;
}

.u-table tbody tr:hover {
    background-color: #e0e0e0;
}
