
.meal-content {
    text-align: center;
    padding: 20px;
}

.meal-title {
    font-size: 62px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    color: darkgreen;
}

.plan-title{
    font-weight: bold;
    font-family: "Jost", sans-serif;
    margin-right: 69%;
    position: relative;
    font-size: 38px;
}

.meal-restaurant {
    font-size: 54px;
    font-weight: bold;
    font-family: "Jost", sans-serif;
    margin-bottom: 20px;
    color: #b8860b;
}

.product-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0 10px;
}

.product-card {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
}

.product-name {
    font-weight: bold;
    margin: 10px 0;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.nutrition-table {
    width: 100%;
}

.nutrition-table th,
.nutrition-table td {
    padding: 12px;
    text-align: left;
}


