/* Styles for the OrderHistory component */
.order-history {
    margin-left: 25rem;
    margin-right: 20rem;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    max-width: 720px;
}

.order-history-title {
    font-family: "Poppins", "sans-serif";
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}

.order-history-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order-location {
    font-size: 20px;
    font-weight: bold;
}

.order-date {
    font-size: 16px;
    color: #888;
}

.ordered-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ordered-item {
    display: flex;
    align-items: center;
}

.ordered-item span {
    font-size: 18px;
    margin-right: 10px;
}

.item-quantity {
    color: #888;
}
