* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.preferred_content {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
}

.preferred_section{
  top: 100px;
}

.preferred_content h1 {
  font-family: 'Koulen', cursive;
  padding-top: 20px;
  font-size: 92px;
  margin-bottom: 20px;
  margin-top: 100px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  color: white;
  background-color: #999999;
}


.restaurant_list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-row {
  display: flex;
  justify-content: space-between;
  margin-top: -80px;
  width: 100%;
}

.restaurant {
  text-align: center;
  flex-basis: calc(33.33% - 20px);
  margin: 0 10px;
  padding: 38px;
  transition: transform 1.5s ease;
  overflow: hidden;
}

.restaurant img {
  height: 310px;
  width: auto;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 12px;
}

.restaurant img:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease;

}

.restaurant p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 33px;
  padding: 3px;
  /*padding-top: 20px;*/
  border-radius: 13px;
  color: #ff4444;

}
.viewmore {
  background-color: #ff4444;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  margin-top: 49px;
  margin-bottom: 50px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid transparent;
}
.viewmore:hover {
  background-color: black;
  color: white;
  border-color: black;
}