.restaurant-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 6%;
    margin-bottom: 5%;
}

.restaurant-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(64, 64, 64, 0.7);
}

.restaurant-box {
    width: calc(32.33% - 20px);
    margin-right: 20px;
    margin-bottom: 2%;
    /*background-color: #ECECEC;*/
    box-shadow: 0 0 10px rgba(64, 64, 64, 0.7);
    overflow: hidden;
    text-align: center;
    border-color: black;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.restaurant-box img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.restaurant-box:hover img {
    transform: scale(1.1);
}

.restaurant-title {
    font-family: 'DM Sans', sans-serif;
    color: red;
    font-weight: bold;
    font-size: 42px;
    text-align: left;
    padding: 10px;
}

.restaurant-description {
    font-size: 24px;
    text-align: left;
    padding: 10px;
}

.restaurant-page-title {
    margin-top: 2%;
    margin-left: 6%;
    position: relative;
    width: 1500px;
    margin-bottom: 2%;
    /*align-items: center;*/
    font-weight: bolder;
    /*text-align: center;*/
    font-size: 62px;
    font-family: 'Koulen', cursive;
    color: red;
    /*text-shadow: 2px 2px 1px navy;*/
}


.restaurant-title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
    color: red;
}

.restaurant-location {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: black;
    padding: 10px;
}

.restaurant-specialty {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    color: black;
    font-weight: bold;
    margin-right: 2%;
    padding: 10px;
}

.restaurant-description {
    font-size: 28px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;

}