/* MealPlan.css */

.mealplan_section {
  position: relative;
  background-image: url("../images/buddha-bowl-dish-with-vegetables-legumes-top-view.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 400px;
}

.overlay_plan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mealplan_content {
  text-align: center;
}

.mealplan_content h1 {
  font-family: "Gentium Plus", serif;
  font-size: 60px;
  padding-bottom: 40px;
  padding-top: 120px;
}

.viewmore_button {
  background-color: #ff4444;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid transparent;
}
.viewmore_button:hover {
  background-color: white;
  color: black;
  border-color: black;
}
