* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero_section {
  position: relative;
  background-image: url("../../images/dietary-salad-with-mussels-quail-eggs-cucumbers-radish-lettuce-healthy-food-seafood-salad-top-view-flat-lay.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.29);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding-right: 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-top: 200px;
  width: 390px;
  height: auto;
}

.hero-button {
  display: flex;
  align-items: center;
}

.button-signup {
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 70px;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-left: 40px;
  transition: background-color 0.3s, color 0.3s;
}
.button-login {
  background-color: red;
  color: white;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 70px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-left: 40px;
  transition: background-color 0.3s, color 0.3s;
}

.button-signup:hover,
.button-login:hover {
  background-color: white;
  color: red;
}

.t-content {
  position: absolute;
  bottom: 22%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.heading {
  font-family: "Pacifico", cursive;
  font-size: 52px;
  margin-left: 215px;
  font-weight: bold;
  margin-top: -220px;
  width: 45%;
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -45px;
  margin-top: 20px;
}

.search_input {
  position: relative;
  width: 35%;
  margin-right: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 40px;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 8px;
  font-size: 19px;
  color: #000;
}

.search_icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 60%;
  color: black;
}

.search_button {
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}


.search_button:hover {
  background-color: white;
  color: black;
}