* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.footer_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  font-size: 42px;
  height: 650px;
}

.footer_left {
  flex-basis: 50%;
}
.footer_left h3 {
  font-family: "Jost", sans-serif;
  font-size: 25px;
}

.footer_left img {
  position: relative;
  bottom: 100px;
  max-width: 610px;
  height: auto;
  margin-bottom: 0px;
  margin-left: 5%;
}

.footer_center h3 {
  margin-bottom: 10px;
}

.footer_right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 50%;
  margin-top: 5%;
  font-size: 42px;
  position: relative;
}

.footer_column {
  flex-basis: calc(33.33% - 20px);
  margin-right: 14px;
  margin-top: 1%;
  margin-bottom: 6%;
}
.footer_column h3 {
  font-family: "Jost", sans-serif;
  font-size: 37px;
}
.footer_column ul {
  font-family: "Jost", sans-serif;
  font-size: 18px;
}
.footer_column:last-child {
  margin-right: 0;
}

.footer_column h3 {
  margin-bottom: 12px;
}

.footer_column ul {
  list-style: none;
  padding: 0;
}

.footer_column ul li {
  margin-bottom: 0px;
}

.footer_column a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
}

.footer_column a:hover {
  color: #ff4444;
}

.social_icons h3 {
  font-size: 34px;
}

.social_icons {
  text-align: center;
  position: relative;
  margin-bottom: -20px;
  left: 130%;
  bottom: 45%;
}

.social_icons a i {
  font-size: 40px;
  color: white;
  margin-right: 30px;
  transition: color 0.3s;
}
.social_icons a i:hover {
  color: #ff4444;
}
