/* Center container styles */
.center-container {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    height: 100vh;;
}

.text-header{
    font-family: 'DM Sans', sans-serif;
    font-size: 62px;
    font-weight: bold;
    color: #ff4444;
}

/* Content box styles */
.content-box {
    background-color: #f0f0f0;
    padding: 24px;
    border: 2px solid #3498db;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 40%;
    position: relative;
}

.s-view {
    margin-right: 2%;
    position: relative;
}

.number {
    font-size: 62px;
    font-family: "Jost", sans-serif;
}

.order-box {
    display: flex;
    gap: 18px;
    /*left: 18rem;*/
    top: -9rem;
    left: 2rem;
    position: relative;
    border: 3px solid lightgrey;
    padding: 32px;
    background-color: #3a3737;;
}

.innerBox {
    flex: 1;
    text-align: center;
    padding: 35px;
    border-radius: 20px;
}

.number {
    font-size: 52px;
    font-weight: bold;
    color: white;
}

.numUsers {
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
    color: white;
}

.table1 {
    margin-top: 19rem;
    margin-left: -61rem;
    position: static;
    /*padding: 20px;*/
}

.table1 h1{
    margin-top: 1%;
    font-family: 'DM Sans', sans-serif;
    font-size: 68px;
    font-weight: bold;
}

.table1 .order-table {
    width: 970px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 5px;
    margin-right: 80rem;
}

.table1 .order-table th,
.table1 .order-table td {
    border: 1px solid lightslategray;
    padding: 6px;
    text-align: center;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

.table1 .order-table th {
    background-color: lightslategray;
    font-weight: bold;
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.table1 .order-table tr:nth-child(even) {
    background-color: #f7f7f7;
}

.table1 .order-table tr:hover {
    background-color: #e5e5e5;
}

.table1 .order-table td button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.table1 .order-table td button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media screen and (min-width: 1200px) {
    .s-view {
        margin-left: 0;
        flex: 1;
    }
}

@media screen and (max-width: 768px) {
    .table1 {
        margin-top: 2rem; /* Adjust the margin-top for smaller screens */
        margin-right: auto; /* Center the table horizontally */
        margin-left: auto; /* Center the table horizontally */
        padding: 10px; /* Adjust the padding for smaller screens */
    }
}