/* Center container styles */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;;
}

/* Content box styles */
.content-box {
    background-color: #f0f0f0;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 40%;
    position: relative;
}

.s-view {
    margin-left: -63%;
    position: relative;
}

/* Order box styles */
.order-box {

}

.number {
    font-size: 65px;
    font-family: "Jost", sans-serif;
}

.innerBox {
    border: 2px solid #ccc;
    padding: 45px;
    font-family: "Jost", sans-serif;

    position: absolute; /* Position absolutely within the relative container */
    top: 4rem;
    left: 20rem;
}

.numUsers {
    font-size: 32px;
}

@media screen and (min-width: 1200px) {
    .s-view {
        margin-left: 0;
        flex: 1;
    }
}
