/* Center container styles */
.center-container {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    height: 100vh;;
}

.text-header{
    font-family: 'DM Sans', sans-serif;
    font-size: 62px;
    font-weight: bold;
    color: #ff4444;
}

/* Content box styles */
.content-box {
    background-color: #f0f0f0;
    padding: 24px;
    border: 2px solid #3498db;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 40%;
    position: relative;
}

.s-view {
    margin-right: 2%;
    position: relative;
}

.number {
    font-size: 62px;
    font-family: "Jost", sans-serif;
}

.info_admin{
    margin-top: 300px;
    margin-right: 450px;
}

.order-box {
    display: flex;
    gap: 18px;
    top: -9rem;
    left: 400px;
    position: relative;
    border: 3px solid lightgrey;
    padding: 32px;
    background-color: #3a3737;;
}

.innerBox {
    flex: 1;
    text-align: center;
    padding: 35px;
    border-radius: 20px;
}

.number {
    font-size: 52px;
    font-weight: bold;
    color: white;
}

.numUsers {
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
    color: white;
}

.table1 h1{
    margin-top: 1%;
    font-family: 'DM Sans', sans-serif;
    font-size: 68px;
    font-weight: bold;
}


.table1 .order-table tr:nth-child(even) {
    background-color: #f7f7f7;
}

.table1 .order-table tr:hover {
    background-color: #e5e5e5;
}

@media screen and (min-width: 1200px) {
    .s-view {
        margin-left: 0;
        flex: 1;
    }
}

@media screen and (max-width: 768px) {
    .table1 {
        margin-top: 2rem; /* Adjust the margin-top for smaller screens */
        margin-right: auto; /* Center the table horizontally */
        margin-left: auto; /* Center the table horizontally */
        padding: 10px; /* Adjust the padding for smaller screens */
    }
}

.at_a_glance{
    display: flex;
    position: absolute;
    top:100px;
    left: 430px;
    justify-content: space-around;
    align-items: center;
    background-color:#f0f0f0;
    padding: 50px;
    border-radius: 10px;
    width: 1000px;
    gap: 40px;
}

.inner{
    margin-right: 30px;
    text-align: center;
}

.inner h3{
   font-family: "Poppins", sans-serif;
    font-size: 25px;
}

.at_a_glance i{
    font-size: 84px;
    color: lightslategray;
}

.at_a_glance p{
    margin-left: 30px;
}

.fa-money-check-dollar{
    width: auto;
}